<!DOCTYPE html>
<html lang="en">
<%- include('../templates/head.ejs') -%>

<body class="bg-primary">
	<%- include('../templates/header.ejs') -%>
	<div class="container mt-5">
		<div class="row">
			<div class="col"></div>
			<div class="col-5 text-white">
				<h1 class="mt-5">Contáctanos</h1>
					<h3 href="http://google.com/" class="mt-5 rounded bg-light text-dark text-center py-2">
						SoftBar
					</h3>
					<h3>Correo:</h3>
					<h4>j.salazar5@utp.edu.co d.castro4@utp.edu.co johan.nieto@utp.edu.co leidy.martinez@utp.edu.co</h4>
					<br>
					<h4>
						Teléfono: 3168931636
					</h4>
			</div>
			<div class="col"></div>
		</div>
	</div>
	<script src="/public/js/contactPage.js"></script>
</body>

</html>